.collection-preview {

  .title {
    font-size: 28px;
    margin: 0 auto 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
  }

  & .collection-item {
    margin-bottom: 35px;
  }
}